body {
    padding: 10px;
    background-color: rgba(111, 111, 195, 0.377);
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
nav{
    background-color: aliceblue;
}
.centra{
    text-align: left;
}
.watchList_pos a{
    float: right;
    margin: 10px;
}
.midlebox{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: aliceblue;
}
.title h1{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 70px;
    
}