{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% if user.is_authenticated %}
        {% endif %}
    <div class=" container midlebox text-capitalize pt-2">
        <div class="row">
            {% for item in items %}
            <a href="{% url 'listing' item.item.id%}">
                <div class="col-lg-3 col-sm-4 col-6 text-center p-1" style="width: 270px;">
                    <h3 style="width: 250px;">{{item.item.title}}</h3>
                    {%if item.item.image %}
                        <img src="{{MEDIA_URL}}{{item.item.image}}" alt="Something went wrong!" width="250px" height="250px">
                    {%else%}
                        <img src="{{MEDIA_URL}}no-image.jpg" alt="Something went wrong!" width="250px" height="250px">
                    {%endif%}   
                    <h6 style="width: 250px;">{{item.item.description}}</h6>
                    <h6 style="width: 250px;">&dollar; {{item.item.starting_bid}}</h6>
                </div>
            </a>
            {%endfor%}
            </div> 
    </div>
    
{% endblock %}